<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          Order tracking and Delivery
        </ion-item> 
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          Refund
        </ion-item> 
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          Cancellation of orders
        </ion-item>
      </ion-col>  
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          Seller Support
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          Payments
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
